/* .box-container {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}


.box {
    width: 50%;
    height: 50%;
    border: 10px solid black;
} */

h1 {
    text-align: center;
}
form {
    margin-top: 50px;
}

.row {
    margin: 40px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.column {
    /* float: left; */
    width: 35%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
    margin-left: 40px;
    border-radius: 30px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .column h2 {
    text-align: center;
    margin-top: 10px;
  }

  .result {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: red;


  }
/*   

  .message {
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 15px;

  } */